/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 20px;
    z-index: 1000; /* Ensure header stays above other content */
}

/* No scroll for body when drawer is active */
body.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
}

.header .logo {
    width: 30%;
}

.header .logo img {
    width: 100%;
    height: auto;
    display: block;
}

.header .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .menu li {
    list-style: none;
    padding: 0 30px;
}

.header .menu li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    text-transform: uppercase;
}

.header ul .menu.active{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Hiệu ứng nút menu */
.menu-toggle {
    display: none;
    font-size: 28px;
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    transition: transform 0.3s ease-in-out;
    z-index: 1001; /* Ensure it stays above the menu */
}

.menu-toggle.active {
    transform: rotate(90deg);
}

/* Mobile Drawer Menu */
@media (max-width: 768px) {
    .header .menu {
        display: flex;
        flex-direction: column;
        justify-content: start;
        position: absolute;
        top: 0;
        right: -100%;
        width: 90%;
        height: 100vh;
        background: white;
        text-align: center;
        padding: 80px 0 20px;
        transition: right 0.3s ease-in-out;
        box-shadow: -5px 0 15px rgba(0, 0, 0, 0.2);
    }

    .header .menu.active {
        right: 0;
    }

    .header .menu li {
        margin: 15px 0;
        width: 100%;
    }

    .header .menu li a {
        display: block;
        padding: 10px;
        font-size: 18px;
        color: #000;
    }

    .header .menu li a:hover {
        background: rgba(255, 255, 255, 0.1);
    }

    .header .logo {
        width: 80%;
    }

    .header .menu-toggle {
        display: block;
        background: none;
        border: none;
        cursor: pointer;
        color: white;
    }
    
    .header .menu-toggle.active {
        color: black;
    }
}

@media (max-width: 992px) {
    .header .logo {
        width: 30%;
    }
    .header .menu li {
        padding: 0 10px;
    }
    .header .menu li a {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    .header .logo {
        width: 40%;
    }
    .header .menu li {
        padding: 0 5px;
    }
    .header .menu li a {
        font-size: 14px;
    }
}